<!DOCTYPE html>
<html>

<link rel="stylesheet" href="../resources/assets/css/style.css">
<link rel="stylesheet" href="../resources/assets/css/mycss.css">

<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body> 

<div class="gtco-container">
	<div class="tripB-padding">
		<div class="tripBD-title">
			 <div>
		     	<span class="tripB-float-left">카테고리 > 국내 > 제주도</span> <!-- 추후 카테고리 생성시 갖고오도록. -->
		        <span class="tripB-float-right" th:text="'조회수 : ' + ${tripBoardDetail.hitCnt} + '  |  ' + '추천수 : ' + ${tripBoardDetail.likeCnt}"></span>
		     </div>
		     <br/>
		     <div>
		     	<span class="tripB-float-left" th:text="${tripBoardDetail.regDate}" >YYYY-MM-DD</span>
<!-- 		 	<span class="tripB-float-right" th:text="${tripBoardDetail.regUser}">글쓴이 : 홍길동</span> -->
		     	<span class="tripB-float-right" >글쓴이 : 홍길동</span> <!-- 추후 유저테이블 완성되면 join해서 갖고오자. 그 다음 위 주석 해제, 요줄은 삭제  -->
		     </div>
		     <br/>
			 <div class="tripB-bold tripB-font-size40" th:text="${tripBoardDetail.title}">
	  			제목부. 23자
	         </div>
		</div>
		<div class="tripBD_content" th:text="${tripBoardDetail.content}">
			내용부 
		</div>
		<div class="tripB-text-center tripB-margin-top20">
			<a style="text-decoration: none;"  href="/board/list">
				<span class="btn btn-primary">
					목록으로
				</span>
			</a>
		</div>
	</div>
</div>

<div></div>



</body>
</html>