<!DOCTYPE html>
<html>

<link rel="stylesheet" href="../resources/assets/css/style.css">
<link rel="stylesheet" href="../resources/assets/css/mycss.css">

<head>

	<!-- include libraries(jQuery, bootstrap) -->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script> 
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script> 
	
	<!-- include summernote css/js -->
	<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
	<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>

<meta charset="utf-8">
<title>Insert title here</title>
</head>

<script type="text/javascript">

$(document).ready(function() {
	
	$('#summernote').summernote({
		height : 350,
		minHeight : null,
		maxHeight : null,
		focus : true,
		lang : 'ko-KR',
		//placeholder: '내용을 입력하세요.',
		callbacks : {
			onImageUpload : function(files, editor, welEditable) {
				sendFile(files[0],editor,welEditable); 
			}
		}
	}); // end of summernote ---
	
}); //end of document.ready ------

function sendFile(file,editor,welEditable) {

	data = new FormData();
	data.append("uploadFile", file);
	data.append("categoryCode","2000");
	$.ajax({
	    data: data,
	    type: "POST",
	    url: '/fileUpload/img',
	    cache: false,
	    contentType: false,
	    processData: false,
	    success: function(url) {
	        alert(url);
	        $('#summernote').summernote('editor.insertImage', url);
	    }
	}); // end of ajax ---
}// end of sendFile ------


</script>

<body> 

<div class="gtco-container">
	<div class="tripB-padding">
 		글쓰기 페이지~
 		
 		test
 		<div style="border: 1px red solid;">
	 		<form action="/board/writeEnd">
		 		제목 : <input type="text" name="title" />
		 		<br/>
		 		내용 : <input type="text" name="content" />
		 		
		 		<button type="submit">서브밋</button>
	 		</form>
 		</div>
 		
		<br/>
		 		
 		<div id="summernote">Hello Summernote</div>
	</div>
</div>

<div></div>



</body>
</html>